.share-links{
   background-color: yellowgreen;
  }
.share-links a:hover{
background-color:yellow;
}

header .p {
text-align: center;
    padding: 5px;

}
.row{
    display: block;
    
}
.ol{
    text-align: center;
    text-decoration: none;
    padding: auto; 
    justify-content: center;
}
