.container{
    background-image: url("assets/images/shopbackground.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.share-links{
   text-decoration: underline;
   
  }
.share-links a:hover{
background-color:yellowgreen;
}

header {
text-align: center;
    padding: 50px 2px;
  text-decoration: underline;

}
.title{
    background-color:lightcoral;
    color: blue;
   
}

.row{
    display: flex;
    padding: 5px; 
}

.zoom {

    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    
  }


/* xs */
@media (min-width: 320px) {
 
  
    #width-val:before {
      content: "320px";
    }
  }
  
  /* handheld  */
  @media (min-width: 567px) {
  
  
    #width-val:before {
      content: "567px";
    }
  }
  
  /* tablets */
  @media (min-width: 731px) {
 
  
    #width-val:before {
      content: "731px";
    }
  }
  
  /* laptops+ */
  @media (min-width: 992px) {

  
    #width-val:before {
      content: "992px";
    }
  }